/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* All Color */

/*

Color: #1c1e21
Background Color:  #f0f2f5
Button Color:  #1877f2, #4cd137
Hover Color: #44bd32

content:
========

Facebook helps you connect and share with the people in your life.

Forgotten account?

Create a Page for a celebrity, band or business.

Create New Account


*/


